{% extends "user/home/base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
   <div>HELLO USER</div>
{% endblock %}

