<h3>{{ message.number }}<small> - {{ message.key }}</small></h3>
<div class="toast toast-error" aria-live="assertive">
    <div class="toast-progress" style="width: 100%;"></div>
    <button type="button" class="toast-close-button" role="button">×</button>
    <div class="toast-title">{{ message.title }}</div>
    <div class="toast-message">{{ message.text }}</div>
</div>
