<h3>{{ message.number }}<small> - {{ message.key }}</small></h3>
    <div class="toast toast-success" aria-live="assertive">
        <div class="toast-progress" style="width: 96.196%;"></div>
        <div class="toast-title">{{ message.title }}</div>
        <div class="toast-message">{{ message.text }}</div>
    </div>
