<footer class="footer">
    <div class="container">
        <p class="m-b m-t">
            <a href="/home/mentions-legales.html">Mentions légales</a>  |  <a href="https://github.com/MaVoix/groupes-locaux">Code source</a>
        </p>
    </div>
</footer>