<h1>Bonjour,</h1>

<p>Nous avons bien reçu votre engagement.</p>

<p>Vous pouvez le modifier à l'adresse suivante :</p>
<a href="{{ ConfigService.get("urlSite") }}/groupe/formulaire.html?id={{ group.id }}&key={{ group.key_edit }}">EDITER</a>