<h1>Bonjour,</h1>

<p>Nous avons bien reçu votre engagement d'être mandataire pour un groupe local #MAVOIX.</p>

<p>Vous pouvez modifier les informations du groupe local, notamment vos coordonnées, à l'adresse suivante :</p>
<a href="{{ ConfigService.get("urlSite") }}/groupe/formulaire.html?id={{ group.id }}&key={{ group.key_edit }}">EDITER</a>

<p> Si vous avez des questions, répondez à cet email.</p>
