<h1>Bonjour,</h1>

<p>Nous avons bien reçu votre promesse #MAVOIX pour le Collectif {{group.departement.code}} - {{ group.departement.name}} {{ sup(group.circonscription.number,'f',false) }} circonscription</p>

<p>Reference à rappeler pour accompagner votre chèque : <b>{{  pledge.reference }}</b></p>

<p> Si vous avez des questions, répondez à cet email.</p>
