<h1>Bonjour,</h1>

<p>Nous avons bien reçu votre demande de récupération de mot de passe.</p>

<p>Vous pouvez en définir un nouveau en <a href="{{ lien }}">cliquant-ici</a></p>

<p>ATTENTION : Pour des raisons de sécurité ce lien sera automatiquement désactivé.</p>
