{% extends "mandataire/base.html.twig" %}


{% block body %}
    <div class="wrapper-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                    <h1>Bienvenue sur l'espace de gestion de votre groupe</h1>
                    <p>Cet espace est en cours de développement. Il vous donnera accès au suivi des dons ainsi qu'à la gestion de votre groupe.</p>
                    <p>Pour modifier votre groupe <a href="/groupe/formulaire.html?edit=true">cliquez-ici</a> (Attention, cela mettra hors-ligne votre groupe jusqu'à validation par un administrateur)</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}